<po-page-default p-title="ProDate:getDateFormat" p-subtitle="Retorna o formato da data do sistema protheus com base no idioma" [p-breadcrumb]="breadCrumb">
  @if (isInsideProtheus) {
    <form>
      <po-select p-label="Idioma" [p-options]="options" p-placeholder="Selecione um idioma"
        (p-change)="getDateFormat($event)" />
    </form>

    @if (isLoading) {
      <po-loading-overlay />
    } @else {
      @if (dateFormat) {
        <po-container>
          {{ dateFormat }}
        </po-container>
      } @else {
        <p class="po-font-text">Não há dados</p>
      }
    }
  } @else {
  <po-container>
    <p class="po-font-text">
      Ops, para utilizar o serviço ProDate é necessario utilizar o aplicativo dentro do Protheus. Para prosseguir, abra
      o aplicativo pelo Protheus.
    </p>
  </po-container>
  }
</po-page-default>
