<div class="po-wrapper">
  <po-toolbar p-title="PO-UI x Protheus" [p-profile]="profile" [p-profile-actions]="profileActions" />
  <po-menu [p-menus]="menus" [p-collapsed]="true" />
  <router-outlet />
</div>

<po-modal p-title="Detalhes do Usuário">
  @if (user) {
    <po-info class="po-xl-6 po-lg-6 po-md-6 po-sm-12" p-label="Código" [p-value]="user.id" />
    <po-info class="po-xl-6 po-lg-6 po-md-6 po-sm-12" p-label="Nome de usuário" [p-value]="user.userName" />
    @if (user.emails && user.emails.length > 0) {
      <po-info class="po-xl-12 po-lg-12 po-md-12 po-sm-12" p-label="Email" [p-value]="user.emails[0].value" />
    }
  }
</po-modal>
