@if (isLoading()) {
  <po-loading-overlay />
} @else {
  @if (items().items.length) {
    <div class="po-row">
      <po-combo
        class="po-xl-6 po-lg-6 po-md-6 po-sm-12"
        p-label="Empresa (PO Combo)"
        [p-options]="companiesOptions()"
      />
      <po-select
        class="po-xl-6 po-lg-6 po-md-6 po-sm-12"
        p-label="Empresa (PO Select)"
        [p-options]="companiesOptions()"
      />
      <po-multiselect
        class="po-xl-6 po-lg-6 po-md-6 po-sm-12"
        p-label="Empresa (PO Multiselect)"
        [p-options]="companiesOptions()"
      />q
      <po-table [p-items]="items().items" [p-show-more-disabled]="!items().hasNext" />
    </div>
  } @else {
    <p>Não há dados</p>
  }
}
